# Flask App Config
FLASK_SECRET_KEY=isi_dengan_kode_acak_rahasia_anda
FLASK_HOST=0.0.0.0
FLASK_PORT=5000

# Database Config
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=monitoring_server_room

# MQTT Config
MQTT_BROKER=localhost
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_TOPIC=220511203/monitoring/server/data

#Telegram Bot
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=